*.la
*.lo
*.o
*.tar.*
.deps
.libs
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
debian
facebook/facebook-marshal.*
INSTALL
libtool
libtool.m4
lt*.m4
Makefile
Makefile.in
config.h*
stamp-h1
TAGS
src/TAGS
